{% extends '_layout' %}
{% block main %}
    <section class="container">
        <section class="news">
            <a href="{{siteUrl}}" id="back">
                <i class="far fa-chevron-left"></i> Back
            </a>
            <h1>{{entry.title}}</h1>

            {% if entry.mainNewsImage.exists() %}
                <img src="{{siteUrl}}{{entry.mainNewsImage.one().url}}">
            {% else %}
                <img src="{{siteUrl}}/images/news_banner_default.jpg" alt="">
            {% endif %}

            <p>{{entry.newsBody | nl2br}}</p>
        </section>
        <section class="recent">
            <h1>Recent News</h1>
            {% for entry in craft.entries.section('news').limit(4) %}
                <div class="recentNewsItem">
                    <div class="recentNewsImage">
                        {% if entry.featuredNewsImage.exists() %}
                            {% set image = entry.featuredNewsImage.one().url %}
                        {% else %}
                            {% set image = '../web/images/featured_default.jpg' %}
                        {% endif %}

                        <a href="{{entry.url}}"><img src="{{siteUrl}}{{image}}" alt=""></a>
                    </div>
                    <div class="recentNewsText">
                        <a href="{{entry.url}}"><h3 class="recentNewsItemHeader">{{ entry.title }}</h3></a>
                    </div>
                </div>
            {% endfor %}
        </section>
    </section>
{% endblock %}