{% do view.registerAssetBundle("plugins\\dolphiq\\iconpicker\\assets\\sharedAsset") %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{siteUrl}}/css/main.css">
        <link rel="stylesheet" type="text/css" href="{{siteUrl}}/css/news.css">
        <link rel="stylesheet" type="text/css" href="{{siteUrl}}/css/fonts.css">
        <link rel="stylesheet" type="text/css" href="{{siteUrl}}/css/fontawesome/all.min.css">
        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
        <title>Rogue Reaper</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        {# <nav>
            <ul>
                <li><a href="#home">HOME</a></li>
                <li><a href="#community">NEWS</a></li>
                <li><a href="#games">CONTACT</a></li>
            </ul>
        </nav>
        <nav class="responsive">
            <h1>Rogue Reaper</h1>
            <i class="far fa-bars"></i>
            <ul>
                <li><a href="#home">HOME</a></li>
                <li><a href="#community">NEWS</a></li>
                <li><a href="#games">CONTACT</a></li>
            </ul>
        </nav> #}

        {% block main %}

        {% endblock %}
        
        <footer>
            <h1>Follow Rogue Reaper: Awakening</h1>
            <div class="row" id="socials">
                {% for entry in craft.entries.section('socials').all() %}
                    <a href="{{entry.socialLink}}" target="_blank">{{ entry.socialIcon.iconSpan|raw }}</a>
                {% endfor %}
            </div>
            <img id="logo" src="{{siteUrl}}/images/FireRoot-logo-final-text.png" alt="Fireroot Logo">
            <nav id="footer_nav">
                <a href="https://www.firerootstudios.com/" target="_blank">ABOUT</a> | 
                <a href="https://www.firerootstudios.com/" target="_blank">CONTACT US</a> | 
                <a href="https://www.firerootstudios.com/" target="_blank">PRESS</a> 
            </nav>

            {% set startYear = 2019 %}
            {% set currentYear = now.year %}

            {% if startYear == currentYear %}
                {% set copyrightYears = startYear %}
            {% else %}
                {% set copyrightYears = startYear ~ ' - ' ~ currentYear %}
            {% endif %}

            <span class="copyright">© {{copyrightYears}} Fireroot Studios B.V. Trademarks are the property of their respective owners. All Rights Reserved.</span>
        </footer>
    </body>
</html>