{% do view.registerAssetBundle("plugins\\dolphiq\\iconpicker\\assets\\sharedAsset") %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{siteUrl}}css/main.css">
        <link rel="stylesheet" type="text/css" href="{{siteUrl}}css/news.css">
        <link rel="stylesheet" type="text/css" href="{{siteUrl}}css/fonts.css">
        <link rel="stylesheet" type="text/css" href="{{siteUrl}}css/fontawesome/all.min.css">
        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600' rel='stylesheet' type='text/css'>

        {# FAVICON #}
        {% set favicon = favicon.favicon.all() %}
        {% for image in favicon %}
            <link rel="icon" type="image/png" sizes="16x16" href="{{ image.url }}">
        {% endfor %}

        <title>Rogue Reaper</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        {% block main %}

        {% endblock %}
        
        <footer>
            <h1>Follow Rogue Reaper: Awakening</h1>
            <div class="row" id="socials">
                {% for social in craft.entries.section('socials').all() %}
                    <a href="{{social.socialLink}}" target="_blank">{{ social.socialIcon.iconSpan|raw }}</a>
                {% endfor %}
            </div>
            <a href="https://www.firerootstudios.com/" target="_blank">
                <img id="logo" src="{{siteUrl}}/images/FireRoot-logo-final-text.png" alt="Fireroot Logo">
            </a>
            {# <nav id="footer_nav">
                <a href="https://www.firerootstudios.com/" target="_blank">ABOUT</a> | 
                <a href="https://www.firerootstudios.com/" target="_blank">CONTACT US</a> | 
                <a href="https://www.firerootstudios.com/" target="_blank">PRESS</a> 
            </nav> #}

            {% set startYear = 2019 %}
            {% set currentYear = 'now'|date('Y') %}

            {% if startYear == currentYear %}
                {% set copyrightYears = startYear %}
            {% else %}
                {% set copyrightYears = startYear ~ ' - ' ~ currentYear %}
            {% endif %}

            <span class="copyright">© {{copyrightYears}} Fireroot Studios B.V. Trademarks are the property of their respective owners. All Rights Reserved.</span>
        </footer>
    </body>
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-149858779-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-149858779-1');
    </script>
</html>