{% extends '_layout' %}
{% block main %}
        {% for entry in craft.entries.section('Header').all() %}
            <header>
                <main style="background: url('{{entry.headerBackground.one().url}}');">
                    <div id="image">
                        <img src="../web/images/lily_vector.svg" alt="Lilly Vector">
                    </div>
                    <div id="text">
                            <h1>ROGUE REAPER</h1>
                            <p>{{entry.headerText}}</p>

                            {% if entry.headerShowDownloadButton %}
                                <button id="download">
                                    <a href="#">WISHLIST NOW</a>
                                </button>
                            {% endif %}
                    </div>
                </main>
            </header>
        {% endfor %}
        
        <div id="overlay"></div>

        <section id="about">
            {% for entry in craft.entries.section('About').all() %}
            <h1>{{entry.aboutTitle}}</h1>
            <main>
                <div id="text">
                    <h1>{{entry.aboutHeader}}</h1>
                    <p>{{entry.aboutText}}</p>
                </div>
                <div id="image">
                    {% if entry.aboutImage.exists() %}
                        <img src="{{entry.aboutImage.one().url}}" alt="">
                    {% else %}
                        <img src="{{siteUrl}}/images/about_default.jpg" alt="">
                    {% endif %}
                </div>
            </main>
            {% endfor %} 
        </section>

        <div id="overlay_bottom"></div>

        <section id="banners">
            {% for entry in craft.entries.section('banners').all() %}
                {% if entry.featuredBannerImage.exists() %}
                    {% set image = entry.featuredBannerImage.one().url %}
                {% else %}
                    {% set image = '../web/images/banner_default.jpg' %}
                {% endif %}

                <div class="banner">
                    <img src="{{image}}">
                    <div id="text">
                        <h1>{{entry.title}}</h1>
                        <p>{{entry.bannerText}}</p>
                    </div>
                </div>
            {% endfor %}
        </section>

        <section id="news">
            <div class="row">
                <h1 class="newsHeader">Latest News</h1>
            </div>

            <div class="row">
                {% set entry = craft.entries()
                    .section('news')
                    .limit(4) %}

                {% for newsItem in entry.all() %}
                    <div class="newsItem">
                        <div class="newsImage">
                            {% if newsItem.featuredNewsImage.exists() %}
                                {% set image = newsItem.featuredNewsImage.one().url %}
                            {% else %}
                                {% set image = '../web/images/featured_default.jpg' %}
                            {% endif %}

                            <a href="{{newsItem.url}}"><img src="{{image}}" alt=""></a>
                        </div>
                        <div class="newsText">
                            <a href="{{newsItem.url}}"><h3 class="newsItemHeader">{{ newsItem.title }}</h3></a>
                            <span class="newsContent">
                                {{newsItem.newsSubtext}}
                            </span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
{% endblock %}